{% load static %}
<header class="header-area header-1" data-aos="fade-down">
    <!-- Start mobile menu -->
    <div class="mobile-menu">
        <div class="container">
            <div class="mobile-menu-wrapper"></div>
        </div>
    </div>
    <!-- End mobile menu -->

    <div class="main-responsive-nav">
        <div class="container">
            <!-- Mobile Logo -->
            <div class="logo">
                <a href="index.html" target="_self" title="Treats">
                    <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/logo/logo-1.png' %}" alt="Treats logo">
                </a>
            </div>
            <!-- Menu toggle button -->
            <button class="menu-toggler" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>

    <div class="main-navbar">
        <div class="header-top py-2">
            <div class="container">
                <div class="header-top-items mobile-item d-flex flex-wrap justify-content-between gap-15 align-items-center">
                    <a href="tel:99911446666" class="icon-start" target="_self" title="Call Us">
                        <span class="color-primary">
                            Call Us:
                        </span>
                        +999 11 44 6666
                    </a>
                    <div class="social-link icon-only">
                        <a class="rounded-pill" href="https://www.instagram.com/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
                        <a class="rounded-pill" href="https://www.dribbble.com/" target="_blank" title="dribbble"><i class="fab fa-dribbble"></i></a>
                        <a class="rounded-pill" href="https://www.twitter.com/" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a>
                        <a class="rounded-pill" href="https://www.youtube.com/" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <!-- Logo -->
                    <a class="navbar-brand" href="index.html" target="_self" title="Treats">
                        <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/logo/logo-1.png' %}" alt="Treats logo">
                    </a>
                    <!-- Navigation items -->
                    <div class="collapse navbar-collapse">
                        <ul id="mainMenu" class="navbar-nav mobile-item mx-auto">
                            <li class="nav-item">
                                <a href="#home" class="nav-link toggle">Home <i class="fal fa-plus"></i></a>
                                <ul class="menu-dropdown">
                                    <li class="nav-item">
                                        <a class="nav-link" href="index.html">Home Demo 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="index-2.html">Home Demo 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="index-3.html">Home Demo 3</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="index-4.html">Home Demo 4</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="index-5.html">Home Demo 5</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" href="menu.html">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" href="#">Shop<i class="fal fa-plus"></i></a>
                                <ul class="menu-dropdown">
                                    <li class="nav-item">
                                        <a class="nav-link" href="shop.html">Shop</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="shop-details.html">Shop Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="cart.html">Cart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="wishlist.html">Wishlist</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="checkout.html">Checkout</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" href="#">Pages<i class="fal fa-plus"></i></a>
                                <ul class="menu-dropdown">
                                    <li class="nav-item">
                                        <a class="nav-link" href="about.html">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="reservation.html">Reservation</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="cart.html">Cart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="wishlist.html">Wishlist</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="checkout.html">Checkout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="faq.html">FAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="login.html">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="signup.html">Signup</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="404.html">404</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="coming-soon.html">Coming Soon</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="terms-conditions.html">Terms &amp; Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" href="#">Blog<i class="fal fa-plus"></i></a>
                                <ul class="menu-dropdown">
                                    <li class="nav-item">
                                        <a class="nav-link" href="blogs.html">Blogs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="blog-details.html">Blog Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="more-option mobile-item">
                        <div class="item">
                            <div class="language">
                                <select class="niceselect">
                                    <option value="1">English</option>
                                    <option value="2">Chinese</option>
                                    <option value="3">French</option>
                                </select>
                            </div>
                        </div>
                        <div class="item">
                            <a href="login.html" class="btn-icon" target="_self" aria-label="User" title="User">
                                <i class="fal fa-user-circle"></i>
                            </a>
                        </div>
                        <div class="item">
                            <a href="cart.html" class="btn-icon pe-2" target="_self" aria-label="Cart" title="Cart">
                                <i class="fal fa-shopping-bag"></i>
                                <span class="badge rounded-pill bg-primary">3</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="reservation.html" class="btn btn-md btn-primary rounded-pill" title="Book a Table" target="_self">Reservation</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>